@font-face {
  font-family: "SF Mono Nerd Font";
  font-style: normal;
  font-weight: 700;
  src: url("https://github.com/suhailphotos/helix/blob/main/helpers/SFMonoNerdFontMono-Regular.ttf") format("truetype");
}
