- name: Clone Oh My Zsh (idempotent)
  git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: "{{ helix_user_home }}/.oh-my-zsh"
    depth: 1
    update: no

- name: Ensure Powerlevel10k theme is present
  git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ helix_user_home }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1
    update: no

- name: Fetch .p10k.zsh
  get_url:
    url: "{{ p10k_raw_url }}"
    dest: "{{ helix_user_home }}/.p10k.zsh"
    mode: "0644"

- name: Install templated .zshrc
  template:
    src: zshrc.mac.j2
    dest: "{{ helix_user_home }}/.zshrc"
    mode: "0644"
