-- --------------------------------------------------
-- Core
-- --------------------------------------------------
vim.g.mapleader = " "
if vim.loader and vim.loader.enable then vim.loader.enable() end

-- --------------------------------------------------
-- Bootstrap: lazy.nvim
-- --------------------------------------------------
require("suhail.lazy_init")

-- --------------------------------------------------
-- Keymaps (plugin-free)
-- --------------------------------------------------
require("suhail.remap")

-- --------------------------------------------------
-- Neovim Options
-- --------------------------------------------------
require("suhail.set")

-- --------------------------------------------------
-- Theme keys (non-fatal if missing)
-- --------------------------------------------------
pcall(require, "suhail.keys.theme")
