-- --------------------------------------------------
-- Plugin List (selective)
-- --------------------------------------------------
return {
{% for mod in nvim_lazy_modules %}
  require("{{ mod }}"),
{% endfor %}
}
