---
# playbooks/linux_remote.yml
- import_playbook: linux_base_remote.yml

- name: Docker provisioning (generic)
  hosts: linux
  gather_facts: yes
  become: yes
  roles:
    - { role: docker_engine,
        when: (docker_enabled | default(false)) | bool,
        tags: ['docker'] }
