---
- name: Only run on macOS
  meta: end_host
  when: ansible_facts['system'] != "Darwin"

- name: Ensure fish config dirs exist
  file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/fish/conf.d"
    state: directory
    mode: "0755"

- name: Install apogee fish init snippet
  copy:
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/fish/conf.d/apogee.fish"
    mode: "0644"
    content: |
      if test -d $HOME/.cargo/bin
        fish_add_path -g -p $HOME/.cargo/bin
      end

      if type -q apogee
        apogee | source
      end

      if type -q starship
        starship init fish | source
      end
